NEXT_PUBLIC_BACKEND_URL=https://api.simple-chat.test:8443
FRONTEND_URL=https://app.simple-chat.test:8443
NEXT_PUBLIC_REVERB_APP_KEY=
NEXT_PUBLIC_REVERB_HOST=api.simple-chat.test
NEXT_PUBLIC_REVERB_PORT=8443
NEXT_PUBLIC_REVERB_SCHEME=https
