.git
compose.env
frontend/.env
frontend/.env.*
!frontend/.env.example
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/.next
frontend/out
frontend/coverage
frontend/build
frontend/next-env.d.ts
frontend/*.tsbuildinfo
frontend/.cert
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
backend/.env
backend/.env.*
backend/vendor
backend/storage
backend/bootstrap/cache
backend/public/hot
backend/.phpunit.result.cache
